<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="styles.css">
		<link rel="icon" href="favicon.png">

		<title>Google</title>
	</head>

	<body>
		<header>
			<nav >
				<ul>
					<li><a href="#">Gmail</a></li>
					<li><a href="#">Images</a></li>
					<li><img class="icons" src="apps-top.png"></li>
					<li><img class="icons" src="bell-top.png"></li>
					<li><img class="phid" src="photo.png"></li> <!-- Visuel a changer-->
				</ul>
			</nav>
		</header>

		<section>
			<div class="container"> <!-- Le logo de google est mis dans un container pour faciliter la mise en page -->
				<div class="logo">
					<img class="logo-google" src="google.png">
				</div>

				<div class="searchform">
					<input style="search"></input> <!-- Barre de recherche avec la fonction inpute-->

				<div class="buttons">
					<button>Google Search</button>
					<button>I'm Feeling Lucky</button>
					<p>Google disponible en : <a href="https://www.google.fr/setprefs?sig=0_z1o_FWOsRr4gix2eQBjQNtSqg4I%3D&hl=en&source=homepage&sa=X&ved=0ahUKEwjr1ezYs4LcAhXIPRQKHdFMAb4Q2ZgBCAg">English</a></p>
				</div>
				</div>
			</div>
		</section>

		<footer>
			<div id="footer">
						<p>France</p>
			</div>

				<div id="footer2">
					 <div>
						 <a class="open" href="https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjr1ezYs4LcAhXIPRQKHdFMAb4QkdQCCAw&url=https%3A%2F%2Fwww.google.fr%2Fintl%2Ffr_fr%2Fads%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpafoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpafooter%26fg%3D1&usg=AOvVaw2uB175PdVvu_s_Oh5IRJXX">Publicité</a>
							<a class="open" href="https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjr1ezYs4LcAhXIPRQKHdFMAb4QktQCCA0&url=https%3A%2F%2Fwww.google.fr%2Fservices%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpbfoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpbfooter%26fg%3D1&usg=AOvVaw3oBerwhZw46LsPtxWHNJJA">Entreprise</a>
							<a class="open" href="https://www.google.fr/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjr1ezYs4LcAhXIPRQKHdFMAb4QkNQCCA4&url=https%3A%2F%2Fwww.google.fr%2Fintl%2Ffr_fr%2Fabout%2F%3Futm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dhp-footer%26fg%3D1&usg=AOvVaw1Jwo2vO2kGpzOPWCuzWlrz">A propos</a>
						</div>

						<div>
							<a class="open" href="https://support.google.com/websearch?p=fr_consumer_info&hl=fr&fg=1">Info Consommateurs</a>
							<a class="open" href="https://www.google.fr/intl/fr_fr/policies/privacy/?fg=1">Confidentialité</a>
							<a class="open" href="https://www.google.fr/intl/fr_fr/policies/terms/?fg=1">Conditions</a>
							<a class="open" href="https://www.google.fr/preferences?hl=fr">Paramètres</a>
						</div>
					</div>


		</footer>
	</body>
</html>
